.th,
.td {
  border: 1px solid #ddd;
  border-collapse: collapse;
}

.th:nth-child(1) {
  padding: 1rem;
}

.td {
  padding: 1rem;
}

.td:nth-child(3),
.td:nth-child(4) {
  width: 15%;
  margin: 5rem auto;
}

.tr:nth-child(even) {
  background-color: #ecebeb;
}

button {
  border: 1px solid rgb(231, 88, 88);
  color: rgb(231, 88, 88);
  margin-left: 2rem;
}
