li {
  list-style: none;
 
}



/* .NavLink:not(.active) {
  text-decoration: none;
} */

/* .active:active{
/* text-decoration: underline; */
/* }
 

/* li > .active ~  {
  text-decoration: none;
}  */ 
